body {
  font-family:arial,helvetica,sans-serif;
  font-size:10pt;
}
a {
  color:#3789B9;
  text-decoration:none;
}
a:hover, a:focus {
  text-decoration:underline;
}
h1, h2 {
  margin:0; 
  padding:0 .8em;
}
