/**************************************************************************************
 * Styles Specific to Public View
 * 
 * These styles are currently mostly used for demo specific items.
 *************************************************************************************/

@import "typography";

.pane {
  //background:#F4F4F4;
  border-top:1px dotted blue;
}
.pane > img {
  width:100%;
}
#ContentPane7 .module {
  margin-top:15px;
}
#ContentPane11 {
  text-align:center;
  img {
    width:auto;
  }
}
