/**************************************************************************************
 *                                                     Styles Specific to Admin UI
 *************************************************************************************/
.section {
  background: #FFFF99;
  border-top: 1px dotted blue;
  border-bottom: 1px dotted blue;
}

.pane {
  background: #F4F4F4;
  text-align: center;
  border-top: 1px dotted #ccc;
}

.module {
  border: 1px solid black;
  background: #7FFFFF;
  margin: 5px;
}

.pane.empty:before {
  content: 'Available Pane';
}
